<div class="panel panel-default margin-top-40">
    <div class="panel-heading">
        <i class="fa fa-user fa-fw fa-2x"></i> <span>My Profile</span>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body text-center" >  
    <div id="unsecured" ng-if="!ctrl.identity">
        <h1>Secured Content</h1>
        <i class="fa fa-lock fa-5x"></i><br>
        <div class="lead">
           Please login
        </div>        

    </div>
    <div id="secured" ng-if="ctrl.identity">
        <h1>Welcome {{ctrl.identity.email}}</h1>   
        <i ng-if="!ctrl.user" class="fa fa-unlock fa-5x"></i><br>    
        <div class="lead" ng-if="ctrl.identity">

            <div class="" ng-if="ctrl.identity.email">
                <h2>My Profile</h2>
                <ul class="list-group text-left">                    
                    <li class="list-group-item"><b>eMail:</b> {{ctrl.identity.email}}</li>
                    <li class="list-group-item"><b>Name:</b> {{ctrl.identity.displayname}}</li>                                       
                </ul>                            
            </div>                      
        </div>            
    </div>   
    
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->


 